@use 'colors';
@use 'buttons';
@use 'typography';
@use 'forms';
@use 'nprogress';

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-radial-gradient {
  background-image: radial-gradient(
                  50% 50% at 50% 50%,
                  rgb(var(--color-primary-500)) 0,
                  hsla(0, 0%, 100%, 0) 100%
  );
}

.bg-radial-gradient-secondary {
  background-image: radial-gradient(
                  50% 50% at 50% 50%,
                  rgb(var(--color-secondary-500)) 0,
                  hsla(0, 0%, 100%, 0) 100%
  );
}


@media screen {
  html:not(.no-js) [data-aos=fade-up] {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  html:not(.no-js) [data-aos=fade-down] {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  html:not(.no-js) [data-aos=fade-right] {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  html:not(.no-js) [data-aos=fade-left] {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }

  html:not(.no-js) [data-aos=fade-up-right] {
    -webkit-transform: translate3d(-10px, 10px, 0);
    transform: translate3d(-10px, 10px, 0);
  }

  html:not(.no-js) [data-aos=fade-up-left] {
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
  }

  html:not(.no-js) [data-aos=fade-down-right] {
    -webkit-transform: translate3d(-10px, -10px, 0);
    transform: translate3d(-10px, -10px, 0);
  }

  html:not(.no-js) [data-aos=fade-down-left] {
    -webkit-transform: translate3d(10px, -10px, 0);
    transform: translate3d(10px, -10px, 0);
  }

  html:not(.no-js) [data-aos=zoom-in-up] {
    -webkit-transform: translate3d(0, 10px, 0) scale(.6);
    transform: translate3d(0, 10px, 0) scale(.6);
  }

  html:not(.no-js) [data-aos=zoom-in-down] {
    -webkit-transform: translate3d(0, -10px, 0) scale(.6);
    transform: translate3d(0, -10px, 0) scale(.6);
  }

  html:not(.no-js) [data-aos=zoom-in-right] {
    -webkit-transform: translate3d(-10px, 0, 0) scale(.6);
    transform: translate3d(-10px, 0, 0) scale(.6);
  }

  html:not(.no-js) [data-aos=zoom-in-left] {
    -webkit-transform: translate3d(10px, 0, 0) scale(.6);
    transform: translate3d(10px, 0, 0) scale(.6);
  }

  html:not(.no-js) [data-aos=zoom-out-up] {
    -webkit-transform: translate3d(0, 10px, 0) scale(1.2);
    transform: translate3d(0, 10px, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-down] {
    -webkit-transform: translate3d(0, -10px, 0) scale(1.2);
    transform: translate3d(0, -10px, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-right] {
    -webkit-transform: translate3d(-10px, 0, 0) scale(1.2);
    transform: translate3d(-10px, 0, 0) scale(1.2);
  }

  html:not(.no-js) [data-aos=zoom-out-left] {
    -webkit-transform: translate3d(10px, 0, 0) scale(1.2);
    transform: translate3d(10px, 0, 0) scale(1.2);
  }
}